{% assign media = site.data.media[include.id] %}
{% if media %}
<p class="{{ include.class }}">
  <img src="{{ media.file | relative_url }}" 
       alt="{{ media.alt | default: media.caption }}" 
       data-caption="{{ media.caption | escape }}"
       data-type="{{ media.type }}"
       data-url="{{ media.url }}"
       {% if media.type == 'artwork' %}
       data-artist="{{ media.artist | escape }}"
       data-posted="{{ media.posted }}"
       {% elsif media.type == 'photo' %}
       data-photographer="{{ media.photographer | escape }}"
       data-taken="{{ media.taken }}"
       data-location="{{ media.location | escape }}"
       {% endif %}
       data-description="{{ media.description | escape }}">
  {% if media.caption %}
    <em>{{ media.caption }}</em>
  {% endif %}
</p>
{% else %}
<p style="color:var(--danger); border: 1px dashed var(--danger); padding: 10px;">
  Error: Media ID '{{ include.id }}' not found in database.
</p>
{% endif %}