<aside class="side-panel toc-panel" aria-label="Table of Contents">
  
  <header class="toc-header">
    <button type="button" id="theme-toggle" class="action-btn" onclick="toggleTheme()" aria-label="Toggle dark mode" data-icon-light="{{ site.theme_icon_light | default: '☀️' }}" data-icon-dark="{{ site.theme_icon_dark | default: '🌙' }}">
      {{ site.theme_icon_dark | default: '🌙' }}
    </button>
    <h2>Contents</h2>
    <button type="button" class="action-btn" onclick="toggleTocNav()" aria-label="Close table of contents">×</button>
  </header>

  <nav class="toc-nav" id="tocNav">
    </nav>

  <footer class="toc-footer">
    
    {% if page.author %}
      <div class="meta-item" title="Author" >
        <i class="fas fa-pen-nib"></i> 
        <span>{{ page.author }}</span>
      </div>
    {% endif %}

    {% if page.date %}
      <div class="meta-item" title="Last Updated" >
        <i class="far fa-calendar-alt"></i> 
        <span>{{ page.date | date: "%B %-d, %Y" }}</span>
      </div>
    {% endif %}
    
    {% if page.tags.size > 0 %}
      <div class="meta-tags">
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
    
  </footer>
</aside>