---
---

body { background-color: hotpink  !important; }
.site-container { background-color: silver !important; }
.site-panel { background-color: magenta !important; }
.site-header { background-color: blue !important; }
.site-nav    { background-color: cornflowerblue !important; }
.site-footer { background-color: navy !important;  }

.doc-panel   { background-color: cyan !important; }
.doc-header  { background-color: red !important; }
.doc-content { background-color: purple !important; }

.page-panel  { background-color: yellow !important; }
.page-header { background-color: green !important; }
.page-toc    { background-color: darkgreen !important; }
.page-footer { background-color: olive !important; }

