<!doctype html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <script>
      // Tell our JS files what the baseurl is!
      window.SITE_BASEURL = "{{ site.baseurl }}";
    </script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body class="site-container preload">
    
<script>
      // 1. Only restore open panels if the screen is desktop-sized
      const isDesktop = window.innerWidth >= 768;
      if (isDesktop && localStorage.getItem('site-panel-state') !== 'closed') document.body.classList.add('site-open');
      if (isDesktop && localStorage.getItem('page-panel-state') !== 'closed') document.body.classList.add('page-open');
      
      // 2. Theme always restores regardless of screen size
      if (localStorage.getItem('theme') === 'dark') document.body.classList.add('dark-mode');
    </script>

    {% include site-panel.html %}

    <main class="doc-panel">
      <header class="doc-header">
        <button type="button" class="panel-btn toggle-site" onclick="toggleSitePanel()">
           {% if site.logo %}<img src="{{ site.logo | relative_url }}" alt="Logo" class="logo-img">{% endif %}
        </button>

        <h1 onclick="scrollToTop()">{{ page.title }}</h1>

        <button type="button" class="panel-btn toggle-page" onclick="togglePagePanel()">📖</button>
      </header>
      
      <article class="doc-content">
        {{ content }}
      </article>
    </main>

    {% include page-panel.html %}

  </body>
</html>